# Default ignored files
/shelf/
/workspace.xml

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./frontend/node_modules
./frontend/.pnp
./frontend/.pnp.js

# testing
./frontend/coverage

# production
./frontend/build

# misc
./frontend/.DS_Store
./frontend/.env.local
./frontend/.env.development.local
./frontend/.env.test.local
./frontend/.env.production.local

./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*



./backend/cryptowallet/HELP.md
./backend/cryptowallet/target/
./backend/cryptowallet/!.mvn/wrapper/maven-wrapper.jar
./backend/cryptowallet/!**/src/main/**/target/
./backend/cryptowallet/!**/src/test/**/target/

### STS ###
./backend/cryptowallet/.apt_generated
./backend/cryptowallet/.classpath
./backend/cryptowallet/.factorypath
./backend/cryptowallet/.project
./backend/cryptowallet/.settings
./backend/cryptowallet/.springBeans
./backend/cryptowallet/.sts4-cache

### IntelliJ IDEA ###
./backend/cryptowallet/.idea
./backend/cryptowallet/*.iws
./backend/cryptowallet/*.iml
./backend/cryptowallet/*.ipr

### NetBeans ###
./backend/cryptowallet//nbproject/private/
./backend/cryptowallet//nbbuild/
./backend/cryptowallet//dist/
./backend/cryptowallet//nbdist/
./backend/cryptowallet//.nb-gradle/
./backend/cryptowallet/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
./backend/cryptowallet/.vscode/

### application ###
./backend/cryptowallet/src/main/resources/application-dev.properties



