@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

/* Panel */

.link-active {
  color: #4b70e2;
  border-left: 3px solid #4b70e2;
  padding-left: 5px;
  border-radius: 2px;
}

.link-inactive {
  color: rgb(97,97,97);
  
}

/* Home */
.home-container {
  padding: 2rem 4rem;
}

.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

/* User */
.user-container {
  padding: 2rem 4rem;
}

.user-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.users {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.user {
  width: 250px;
  max-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.5), 
    2px 2px 5px rgba(94,104,121,0.3);

}

.user img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.user h3 {
  font-size: 25px;
  font-weight: 400;
}

.user .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user .details .price {
  font-size: 20px;
  font-weight: 700;
}

.user button, .user-update {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}

.user-update {
  width: auto;
  padding: 0 2rem;
  margin-top: 0;
}

/* Project */
.project-container {
  padding: 2rem 4rem;
  justify-items: center;
}

.project-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;

}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.project {
  width: 700px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.5), 
    2px 2px 5px rgba(94,104,121,0.3);

}

.project img {
  width: 40%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.project h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.project .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .details .price {
  font-size: 20px;
  font-weight: 700;
}

.project button, .project-update {
  width: 120px;
  height: 100px;

  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}

.project-update {
  width: auto;
  padding: 0 2rem;
  margin-top: 0;
}

/* NavBar */
.nav-bar {
  position: sticky;
  display: flex;
  top: 0;
  height: 70px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-bar h2 {
  font-size: 40px;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bag {
  display: flex;
  align-items: center;
}

/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68,68,68);
  min-height: 80vh;
}
.not-found h2 {
  font-size: 55px;
}
.not-found p {
  font-size: 20px;
}

/* Create Crypto */
.back-to-cryptos {
  margin-top: 1rem;
}

.back-to-cryptos a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.back-to-cryptos a span {
  margin-left: 0.5rem;
}

/* Create Wallets */
.back-to-wallets {
  margin-top: 1rem;
}

.back-to-wallets a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.back-to-wallets a span {
  margin-left: 0.5rem;
}

/* Add Crypto to Wallet */
.back-to-wallet {
  margin-top: 1rem;
}

.back-to-wallet a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.back-to-wallet a span {
  margin-left: 0.5rem;
}

/* */
.cryptodetails-close {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}
